<!DOCTYPE html>
</DOCTYPE>
<html lang="es-ES">

<head>
    <title></title>
    <meta charset="UTF-8">
    <link href="" rel="stylesheet" media="all" type="text/css">
</head>

<body>
    <h2>Bienvenido</h2>
    <fieldset>
        <legend>Inicio de sesión</legend>
        <form action="" method="POST">
            <div>
                <label for="email"></label>
                <input type="email" name="email">
            </div>
            <div>
                <label for="contraseña"></label>
                <input type="password" name="contraseña">
            </div>
            <div>
                <button type="submit" name="btnLogin" value="Enviar">Enviar</button>
            </div>
        </form>
    </fieldset>
</body>

</html>