<!DOCTYPE html></DOCTYPE>
<html lang="es-ES">
    <head>
		<title></title>
		<meta charset="UTF-8">
		<link href="" rel="stylesheet" media="all" type="text/css">
	</head>
	<body>
		<fieldset>
            <legend>Crear usuario</legend>
            <form action="" method="POST">
                <div>
                    <label for="email">Email: </label>
                    <input type="email" name="email">
                </div>
                <div>
                    <label for="contraseña">Contraseña: </label>
                    <input type="password" name="contraseña">
                </div>
                <div>
                    <label for="rango">Rango: </label>
                    <select name="rango">
                        <option selected disabled style="display: none;"> - </option>
                        <option value="SENSEI">Senséi</option>
                        <option value="MAESTRO">Maestro</option>
                        <option value="PROFESOR">Profesor</option> 
                    </select>
                </div>
                <div>
                    <button type="submit" name="btnLogin" value="Enviar">Enviar</button>
                </div>
            </form>
        </fieldset>
	</body>
</html>