<!DOCTYPE html>
</DOCTYPE>
<html lang="es-ES">

<head>
    <title>Registro de usuario</title>
    <meta charset="UTF-8">
    <link href="" rel="stylesheet" media="all" type="text/css">
</head>

<body>
    <h2>Registro de usuario</h2>
    <fieldset>
        <legend>Creación de nuevo usuario</legend>
        <form method="post">
            <label for="usuario">Nombre: </label>
            <input type="text" name="nombre" required autofocus>
            <label for="email">Email: </label>
            <input type="email" name="email" required>
            <label for="contraseña">Contraseña: </label>
            <input type="password" name="contraseña" required>
            <label for="tipoProfesor">Tipo de profesor:</label>
            <select name="tipoProfesor">
                <option disabled style="display: none;"> - </option>
                <option value="senséi">Senséi</option>
                <option value="maestro">Maestro</option>
                <option value="profesor">Profesor</option>
            </select>
            <button type="submit" value="btnRegistrar">Enviar</button>
        </form>
    </fieldset>
</body>

</html>