<!DOCTYPE html>
</DOCTYPE>
<html lang="es-ES">

<head>
    <title>Formulario de reserva de sala</title>
    <meta charset="UTF-8">
    <link href="" rel="stylesheet" media="all" type="text/css">
</head>

<body>
    <h2>Reserva de sala</h2>
    <fieldset>
        <legend>Formulario de reserva</legend>
        <form action="" method="POST">
            <div>
                <label for="sala">Sala: </label>
                <select name="sala">
                    <option selected disabled style="display: none;"> - </option>
                    <option value="SENTO">Sento</option>
                    <option value="AULA">Aula</option>
                </select>
            </div>
            <div>
                <label for="fecha"></label>
                <input type="date" name="fecha">
            </div>
            <div>
                <button type="submit" name="btnReserva" value="Enviar">Enviar</button>
            </div>
        </form>
    </fieldset>
</body>

</html>